nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;

    a {

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 4.33143px;

        color: #000000;
        margin-right: 22px;
        margin-left: 22px;
        text-decoration: none;

    }
}

main {
    margin-top: 100px;
    width: 100vh;


}

.right-section {
    width: 50%;
    display: flex;



    img {
        position: absolute;
        width: 561px;
        height: 409.74px;
        left: 203px;
        top: 137px;
        object-fit: cover;

    }
}