$accent-color: rgb(254, 227, 131);

h1 {
  font-weight: 700;
  font-size: 50px;
}

a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  //text-align: right;
  //letter-spacing: 4px;
  //text-decoration: none;
  color: #000000;
}

.button {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 8px;
  padding: 24px;
  background-color: $accent-color;
  border: none;
  cursor: pointer;
}

.introduction__grid {
  display: grid;
  grid-template-columns: 10% 15% 25% 50%;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "empty name grey image";
}

.introduction__grey-box {
  grid-column-start: grey;
  grid-column-end: image;
  grid-row-start: nav;
  grid-row-end: empty;
  background: lightgray;
  z-index: -1;
}

.introduction__content-left {
  grid-column-start: name;
  grid-column-end: name;
  grid-row-start: empty;
  grid-row-end: empty;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .button {
    width: 17rem;
  }
}

.introduction__navigation {
  grid-area: nav;
  justify-self: center;
  display: flex;
  gap: 10px;
}

.introduction__content-right {
  grid-column-start: image;
  grid-column-end: image;
  grid-row-start: empty;
  grid-row-end: empty;

  img {
    width: 100%;
  }
}

.link-collection {
  display: flex;
  gap: 10px;
}


