<section class="introduction__grid">
  <nav class="introduction__navigation">
    <a href="#">WORK</a>
    <a href="#">PROJECT</a>
    <a href="#">ABOUT</a>
  </nav>

  <div class="introduction__grey-box"></div>
  <div class="introduction__content-left">
    <h1>Hello I'm <br>
      Dennis Ludmann</h1>

    <div class="link-collection">
      <a class="contact" href="https://www.linkedin.com/in/dennis-ludmann/" target="_blank">LI.</a>
      <a class="contact" href="https://github.com/DennisLudmann" target="_blank">GH.</a>
      <a class="contact" href="https://www.facebook.com/dennis.ludmann" target="_blank">FB.</a>
    </div>
    <a class="button" href="assets\downloads\placeholder.pdf" download="MyCV.pdf">DOWNLOAD CV</a>
  </div>
  <figure class="introduction__content-right">

    <img src="assets\img\portrait\p4.JPG" alt="">

  </figure>
</section>
