@import "../app.component.scss";

nav {
  margin-left: $margin;
  margin-right: $margin;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 2;
  gap: 44px;

  img{
    margin-right: $extralarge;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    
    &:hover { cursor: default; transform: rotate(360deg); 
      transition: all 0.3s ease-in-out 0s; }
  }

  .right-wrapper {
    width: 50%;
    gap: 44px;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #000000;
    margin-right: 44px;

    &:hover {
      border-bottom: solid 1px $font-color;
    }
  }
}
