@import "../app.component.scss";

footer{
    padding-top: $extralarge;
    padding-bottom: $larger;
    margin-right: $margin;
    margin-left: $margin;
}
.wrapper{
    display: flex;
    justify-content: center;
    gap: $medium;
    
    a{
     color:$font-color;
     font-size: $medium;
    }
}
.wrapper-link{
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid 1px white;
    
    &:hover {
        border-bottom: solid 1px $font-color;
      }
}
