@import "../app.component.scss";

section {
    margin-left: 140px;
    margin-right: 140px;
}

h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 120px;
    margin-top: 100px;
    margin-bottom: 0px;
}

img {
    width: 100%;
}

.info-box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 16px;
    width: 342px;
    height: 245px;
    background-color: $accent-color;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    letter-spacing: 0.2px;
    color: #6D6D6D;
}

.wrapper {
    position: relative;

}