@import "../app.component.scss";

section {
  margin-right: $margin;
  margin-bottom: $margin;
  margin-left: $margin;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 120px;
  margin-top: $extralarge;
  margin-bottom: 0px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 375px;
}

.info-box {
  margin-right: $margin;
  padding: $large $larger;
  width: 342px;
  background-color: #fee383;
  transform: translateY(-135px);
}

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.2px;
  color: #6D6D6D;
}

.info-box-entry-text {
  margin: 0;
  font-size: $medium;
  font-weight: 400;
}

.container {
  display: flex;
}
.container-text{
    margin-right: $medium;
}

.info-box-entry:not(:last-child) {
  margin-bottom: $medium;
}
