<section id="about">

    <h2>ABOUT</h2>
    <p>
        Jeg er netop igang med at afslutte min uddannelse som frontend
        developer på Developer Academie i München. Jeg har bygget
        forskellige frontend projekter, fra simple hjemmesider til mere
        komplexe business apps - som del af et team eller alene. Denne
        praxis orienterede fremgang med hands on, fra første dag - og mit
        frivillige arbejde hos Equippers Flensborg har hjulpet mig med at
        blive faglig stærk indenfor webudvikling. Jeg brænder for
        programmering og digital udvikling. Min største styrke er, at blive
        ved bolden, forblive nysgerrig og at være klar til at lære nye ting.
        Jeg har en robust og beslutsom karakter. Jeg kan arbejde
        selvstændigt og er tryg ved at træffe egne beslutninger. Jeg er
        fleksibel og besidder gode samarbejdsevner.
    </p>
    <div class="wrapper">
        <img src="assets\img\background\13.jpg" alt="">

        <div class="container">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="info-box">
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">EMAIL</h4>
                    <p class="info-box-entry-text">dennisludmann@gmail.com</p>
                </div>
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">POSITION</h4>
                    <p class="info-box-entry-text">Frontend Developer</p>
                </div>
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">PHONENUMBER</h4>
                    <p class="info-box-entry-text">+45 3046 1670</p>
                </div>


            </div>
        </div>
    </div>
</section>