<section id="about">

    <h2>ABOUT</h2>
    <p>
        I am just finishing my education as a frontend developer at the
        "Developer Academie"" in Munich. I have built various front-end
        projects, from simple websites to more complex business apps - as
        part of a team or as a standalone. This hands-on approach, from
        day one together with my volunteer work at Equippers Flensburg
        has helped me develop a holistic overview of web development.
        I don't just generically like IT, I am passionate about programming
        and digital development. My biggest strength is staying on the ball,
        cultivating a curious attitude and being ready to always learn new
        things. I have a robust and determined character. I can work
        independently and am confident in making my own decisions. I am
        also flexible and poses good collaboration skills.
    </p>
    <div class="wrapper">
        <img src="assets\img\background\13.jpg" alt="">

        <div class="container">
            <p class="container-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="info-box">
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">EMAIL</h4>
                    <p class="info-box-entry-text">dennisludmann@gmail.com</p>
                </div>
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">POSITION</h4>
                    <p class="info-box-entry-text">Frontend Developer</p>
                </div>
                <div class="info-box-entry">
                    <h4 class="info-box-entry-headline">PHONENUMBER</h4>
                    <p class="info-box-entry-text">+45 3046 1670</p>
                </div>


            </div>
        </div>
    </div>
</section>