<section id="projects">
    <h2>PROJECTS</h2>
    <div class="wrapper">
        <div class="gray-box">

        </div>
        <div>
            <h4>El Pollo Loco</h4>
            <p>OOP jump and run</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="gray-box">

        </div>
        <div>
            <h4>Pokedex</h4>
            <p>Legendary 1st gen Pokédex, using API</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="gray-box">

        </div>
        <div>
            <h4>My portfolio page</h4>
            <p>This Angular page code and details.</p>
        </div>
    </div>
</section>