@import "../app.component.scss";


section {
  background-color: $accent-color;
  padding-top: $extralarge;
  padding-bottom: $extralarge;

  .container {
    margin-left: $margin;
    margin-right: $margin;
    display: flex;

    p {
      font-weight: 400;
      font-size: $medium;
    }
  }

}

.input {
  width: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: $small;
  font-size: $small;
  outline: none;
}

.left-wrapper {
  width: 50%;
}

input {
 margin-bottom: $medium;
 border: none;
 outline: none;
}

textarea {
  height: $extralarge;
  resize: none;
  border: none;
  outline: none;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $medium;
  background: #0F0F10;
  padding: 24px 33px;
  color: white;
  font-size: $medium;
}