<section id="work">
    <h2>EXPERIENCE</h2>

    <div class="container">
        <div class="left-wrapper">
            <h4>Eqipper Flensburg</h4>
            <footer>Ongoing</footer>
        </div>
        <div class="right-wrapper">
            <p>Building new webpage closely in a small team of three, in such a way - that no coding skills 
                are required to maintain it in the future. Plus maintaining existing page.</p>
            <a href="">WordPress</a>
            <a href="">Docker</a>
            <a href="">CMS</a>
        </div>
    </div>
    <div class="container">
        <div class="left-wrapper">
            <h4>Handicapformidlingen</h4>
            <footer>April · 2022</footer>
        </div>
        <div class="right-wrapper">
            <p>Personal assistant for a very active disabled patient, on the clock, in-home, at his workplace and at
                various activities and travel. </p>
            <a href="">Reliability</a>
            <a href="">Teamwork</a>
            <a href="">Problem solving</a>
        </div>
    </div>
    

    <div class="container">
        <div class="left-wrapper">
            <h4>Handicapformidlingen</h4>
            <footer>April · 2022</footer>
        </div>
        <div class="right-wrapper">
            <p>Workplace platform mobile app designed to provide long lasting feature. </p>
            <a href="">Teamwork</a>
            <a href="">Reliability</a>
            <a href="">Empathy</a>
        </div>
    </div>


</section>