<section>
    <h2>WORK</h2>

    <div class="container">
    <div class="left-wrapper">
        <h4>Handicapformidlingen</h4>
        <footer>April · 2022</footer>
    </div>
    <div class="right-wrapper">
        <p>Workplace platform mobile app designed to provide long lasting feature. </p>
        <a href="">Teamwork</a>
        <a href="">Reliability</a>
        <a href="">Empathy</a>
    </div>
</div>

Du har en robust og beslutsom karakter
Du kan arbejde selvstændigt og er tryg ved at træffe egne beslutninger
Du er fleksibel og besidder gode samarbejdsevner
</section>